<header>
  <h1>Angular Quoting App</h1>
</header>

<main>
  <div class="search">
    <search-cmp></search-cmp>
  </div>
  <select class="decoMethod" >
    <option value="SP">Screen Print</option>
    <option value="EMB">Embroidery</option>
  </select>

  <select class="selectQty" >
    <option value="1" selected>Select quantity</option>
    <option value="1">1</option>
    <option value="12">12</option>
    <option value="24">24</option>
    <option value="48">48</option>
    <option value="72">72</option>
    <option value="144">144</option>
    <option value="288">288</option>
    <option value="500">500</option>
    <option value="1000">1,000</option>
  </select>

  <div class="quoteResults">
    <results-cmp></results-cmp>
  </div>
</main>
